body  {
  background-color: gainsboro;
}

#pageTitle {
  width: 50%;
  padding: 10px;
    margin: auto;
    color: blue;
}

#tile {
  border : 2px solid black;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  padding: 10px;
  background-color: white;
  opacity: 0.8; 
}

#subTitle{
  font-weight: bold;
}
